<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} : %-24thread : %-5level : %-65c : %msg%n" />
        </Console>
        <RollingFile name="LocalFile" fileName="logs/build-status-daemon.log" filePattern="" append="false">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} : %-24thread : %-5level : %-65c : %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="error">
        </Root>
        <Logger name="com.limpygnome.daemon" level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="LocalFile" />
        </Logger>
    </Loggers>
</Configuration>
