/*
    Notes:
    - animations currently disabled as not supported by chromium on raspberry pi
*/

#notification
{
    display: table;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    text-align: center;
    border-radius: 2em;

    /* Default properties */
    background: #333;
    color: #FFF;
}

#notification.show
{
    opacity: 1;
    animation: fadein 2s ease-in;
}

#notification.hide
{
    opacity: 0;
}

#notification.show,
#notification.hide
{
    transition: opacity 2s linear;
}


#notification .wrapper
{
    display: table-cell;
    vertical-align: middle;
}

#notification .wrapper .header
{
    font-size: 10vh;
}

#notification .wrapper .text
{
    font-size: 6vh;
}


/*
    Notification types
*/
#notification.jenkins-unavailable,
#notification.build-failure
{
    animation: pulsate 2s ease-in;
    animation-iteration-count: infinite;
}

#notification.jenkins-unavailable
{
    background: #C30;
    box-shadow: inset 0em 0em 6em #666, 0em 0em 10em #C00;
}

#notification.build-failure
{
    background: #C00;
    box-shadow: inset 0em 0em 6em #666, 0em 0em 10em #C00;

    animation: pulsate 2s ease-in;
    animation-iteration-count: infinite;
}

#notification.build-unstable
{
    background: #fc0;
    color: #4d2e00;
    box-shadow: inset 0em 0em 6em #4d2e00, 0em 0em 10em #ffad33;
}

#notification.build-progress
{
    background: #00f;
    box-shadow: inset 0em 0em 6em #006, 0em 0em 15em #009;
}

#notification.build-ok
{
    background: #0c0;
    box-shadow: inset 0em 0em 6em #060, 0em 0em 15em #090;
}

#notification.standup
{
    background: #f0f;
    box-shadow: inset 0em 0em 6em #80007f, 0em 0em 15em #ff66fe;

    animation: pulsate 4s ease-in;
    animation-iteration-count: infinite;
}
