#jobs
{
    margin: auto;
    padding: 1em;
    list-style: none;
}

#jobs li
{
    display: inline-block;
    background: #333;
    font-size: 2em;
    width: 48%;
    padding: 0.2em 0.4em;
    margin: 0.2em;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0.4em;
}


/*
    Styling for statuses of jobs
*/

#jobs li.BUILD_UNKNOWN
{
    background: #333;
}

#jobs li.BUILD_OK
{
    background: #0c0;
}

#jobs li.BUILD_UNSTABLE,
#jobs li.BUILD_FAILURE,
#jobs li.BUILD_PROGRESS
{
    animation: pulsate 2s ease-in;
    animation-iteration-count: infinite;
}

#jobs li.BUILD_UNSTABLE
{
    background: #fc0;
    color: #4d2e00;
}

#jobs li.BUILD_FAILURE
{
    background: #C00;
}

#jobs li.BUILD_PROGRESS
{
    background: #00f;
}
