.notification
{
    display: table;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    text-align: center;
    border-radius: 4em;

    /* Default properties */
    background: #333;
    color: #FFF;
}

.notification .wrapper
{
    display: table-cell;
    vertical-align: middle;
}

.notification .wrapper .title
{
    font-size: 15vh;
}
